<!-- <ol class="breadcrumb" *ngIf="isHome">
  <li class="breadcrumb-item"><a class="breadcrumb-text" href="#">Home</a></li>
  <li *ngFor="let breadLink of displayBreadcrumbList" class="breadcrumb-item active" aria-current="page">
    <a href="javascript:void(0)" [routerLink]="['/breadLink.url']" class="breadcrumb-text"
      (click)="back($event)">{{breadLink.name }}</a>
  </li>
</ol> -->
<!-- [routerLink]="['/breadLink.url']" routerLinkActive="router-link-active" -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="" class="breadcrumb-text">Home</a></li>
  <!-- <li><a routerLink="" class="breadcrumb">Home</a></li> -->
  <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item active" aria-current="page">
    <a [routerLink]="[breadcrumb.url]">{{breadcrumb.label}}</a>
  </li>
</ol>
