@import '../../../../assets/scss/colors.scss';

sign-up {
  .sign-up {
    position: absolute;
    width: 350px;
    // height: 400px;
    background: $white-color;
    padding: 20px 40px 20px 40px;
    transform: translate(-50%, -50%);
    top: 50%;
    margin: 0 auto;
    left: 50%;
    box-shadow: 0px 0px 10px $background-color;
  }

  .btn {
    border-radius: 25px;
  }
}
